*-debug.log
*-error.log
/.nyc_output
/dist
/lib
/package-lock.json
/tmp
node_modules
.vscode
/checkpoints.json
/.ethlogger-state.json
nohup.out
.private-contract
.public-contract
.txns.pid
data/*.abisigs*
/coverage
.env
