{
    "branch": "master",
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        "@semantic-release/npm",
        ["@semantic-release/exec", {
            "prepareCmd": "yarn ts-node scripts/updatek8s.ts ${nextRelease.version}"
        }],
        "@semantic-release/github",
        [
            "@semantic-release/git",
            {
                "message": "chore(release): ${nextRelease.version}\n\n${nextRelease.notes}"
            }
        ]
    ]
}
